[Desktop Entry]
Type=Application
Exec=/opt/gigaide-2024.4/gigaide-CE-242.21829.142/bin/idea.sh
Icon=application-x-executable
Terminal=false
Name=Giga IDE-2024.2
Name[ru]=Giga IDE-2024.2
Comment=Giga IDE-2024.2
Comment[ru]=Giga IDE-2024.2
Icon=/opt/gigaide-2024.4/gigaide-CE-242.21829.142/bin/idea.png


