[Desktop Entry]
Type=Application
Exec=/opt/ideaIUltimate-2024.3/idea-IU-243.21565.193/bin/idea.sh
Icon=application-x-executable
Terminal=false
Name=IntelliJ IDEA Ultimate-2024.3
Name[ru]=IntelliJ IDEA Ultimate-2024.3
Comment=IntelliJ IDEA Ultimate-2024.3
Comment[ru]=IntelliJ IDEA Ultimate-2024.3
Icon=/opt/ideaIUltimate-2024.3/idea-IU-243.21565.193/bin/idea.png


