[Desktop Entry]
Type=Application
Exec=/opt/ideaIUltimate-2025.1.1.1/idea-IU-251.25410.129/bin/idea.sh
Icon=application-x-executable
Terminal=false
Name=IntelliJ IDEA Ultimate-2025.1.1.1
Name[ru]=IntelliJ IDEA Ultimate-2025.1.1.1
Comment=IntelliJ IDEA Ultimate-2025.1.1.1
Comment[ru]=IntelliJ IDEA Ultimate-2025.1.1.1
Icon=/opt/ideaIUltimate-2025.1.1.1/idea-IU-251.25410.129/bin/idea.png


