[Desktop Entry]
Type=Application
Exec=/opt/pycharm-2024.2.3/pycharm-2024.2.3/bin/pycharm.sh
Icon=application-x-executable
Terminal=false
Name=PyCharm-2024.2.3
Name[ru]=PyCharm-2024.2.3
Comment=PyCharm-2024.2.3
Comment[ru]=PyCharm-2024.2.3
Icon=/opt/pycharm-2024.2.3/pycharm-2024.2.3/bin/pycharm.png


