[Desktop Entry]
Type=Application
Exec=/opt/ideaIC-2024.1.1/bin/idea.sh
Icon=application-x-executable
Terminal=false
Name=IntelliJ IDEA 2024.1.1 (Community Edition)
Name[ru]=IntelliJ IDEA 2024.1.1 (Community Edition)
Comment=IntelliJ IDEA 2024.1.1 (Community Edition)
Comment[ru]=IntelliJ IDEA 2024.1.1 (Community Edition)
Icon=/opt/ideaIC-2024.1.1/idea.png


