[Desktop Entry]
Type=Application
Exec=/opt/ideaIUltimate-2023.3.2/bin/idea.sh
Icon=application-x-executable
Terminal=false
Name=IntelliJ IDEA Ultimate-2023.3.2
Name[ru]=IntelliJ IDEA Ultimate-2023.3.2
Comment=IntelliJ IDEA Ultimate-2023.3.2
Comment[ru]=IntelliJ IDEA Ultimate-2023.3.2
Icon=/opt/ideaIC-2024.1.1/idea.png


