[Desktop Entry]
Type=Application
Exec=/opt/pycharm-2023.3.1/pycharm-2023.3.1/bin/pycharm.sh
Icon=application-x-executable
Terminal=false
Name=PyCharm-2023.3.1
Name[ru]=PyCharm-2023.3.1
Comment=PyCharm-2023.3.1
Comment[ru]=PyCharm-2023.3.1
Icon=/opt/pycharm-2023.3.1/pycharm-2023.3.1/bin/pycharm.png


